@charset "utf-8";
.post p,
.post span {
    text-indent: 2em;
    display: block;
}

h2 {
    text-align: center;
}

.nav {
    position: fixed;
    right: -112px;
    top: 160px;
    width: 128px;
    height: 216px;
    overflow: auto;
    text-align: center;
    color: #fff;
    background: #1b458c;
    transition: all 1s;
    opacity: 0.8;
}

.nav:hover {
    right: 0;
}

.nav-text {
    margin: 0;
    padding: 0 16px;
    height: 100%;
    list-style: none;
}

.nav-text li {
    display: block;
}

.nav-text li a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.nav-text li a::after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    content: '';
    transition: transform .3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.nav-text li a:hover::after {
    transform: scale(1, 1);
}