@charset "utf-8";
body,
html {
    width: 100%;
    height: 100%;
    background: 60%/cover no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft Yahei', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #212529;
    background-color: #fbfbfc;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

h2 {
    font-size: 1.5rem;
    padding: 6px 0;
    margin: 0;
}

input {
    padding: .375rem .75rem;
    height: 2rem;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    background: rgba(255, 255, 255, .25);
    background-clip: padding-box;
    color: #495057;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-size: 1rem;
    line-height: 1.5;
}

input:focus {
    outline: 0;
    border-color: #80bdff;
}

.bluebird {
    padding: 0 1rem;
    margin: auto;
}

@media (min-width:576px) {
    .bluebird {
        max-width: 540px;
    }
}

@media (min-width:768px) {
    .bluebird {
        max-width: 720px;
    }
}

@media (min-width:992px) {
    .bluebird {
        max-width: 960px;
    }
}

@media (min-width:1200px) {
    .bluebird {
        max-width: 1140px;
    }
}